#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header1-1 P {
  text-align: right;
}
#header1-1 H1 {
  text-align: right;
}
#social-buttons2-10 .mbr-header__text {
  color: #ffffff;
}
#footer1-12 P {
  color: #ffffff;
}
#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header1-1j P {
  text-align: right;
}
#header1-1j H1 {
  text-align: right;
}
#contacts3-1i STRONG {
  color: #ffffff;
}
#contacts3-1i P {
  color: #ffffff;
}
#contacts3-1i UL {
  color: #27aae0;
}
#footer1-12 P {
  color: #ffffff;
}
#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#social-buttons2-1h .mbr-header__text {
  color: #ffffff;
}
#contacts3-1i STRONG {
  color: #ffffff;
}
#contacts3-1i P {
  color: #ffffff;
}
#contacts3-1i UL {
  color: #27aae0;
}
#footer1-12 P {
  color: #ffffff;
}
